footer ul:not(.browser-default) {
    list-style-type: none
}

footer .row-footer {
    padding-top: 54px;
    margin: 0
}

.site-footer::before {
    content: "";
    width: 100%;
    height: 7px;
    position: absolute;
    z-index: 2;
    left: 0;
    background: linear-gradient(180deg,rgba(0,0,0,.15) 0,transparent)
}

.footer-selos {
    display: flex;
    justify-content: space-evenly
}

.footer-selos>div {
    width: 45%;
    text-align: center
}

footer.site-footer h4,footer.site-footer li {
    margin: 0 0 24px 0
}

footer.site-footer ul {
    padding: 0 0 1px 0;
    margin: 0 0 20px 0
}

footer.site-footer h4 {
    color: #371e56;
    font-size: 18px;
    font-weight: 600
}

footer.site-footer a,footer.site-footer p {
    color: #463758!important;
    font-size: 14px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

@media only screen and (max-width: 767px) {
    .footer-selos {
        justify-items:center;
        margin-bottom: 50px
    }

    .footer-selos img {
        margin: 10px
    }

    .logo-footer {
        margin: 20px;
        max-width: 70%
    }
}