@use '../_variables' as *;

.c-footer {
  background-color: var(--bc-color-bg-darkest);
  color: var(--bc-color-bg-darkest-text);

  &__bottom {
    padding: 35px 0;

    @media (min-width: $bkp-tablet) {
      padding: 35px 0 60px;
    }

    &-content {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;

      p {
        display: flex;
        font-size: 10px;
        gap: 20px;

        a {
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    @media (min-width: $bkp-desktop) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__follow-us {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    &-title {
      font-size: 14px;
      font-weight: 600;
      line-height: auto;
      margin-bottom: 12px;
    }

    .c-follow-us {
      color: var(--bc-color-bg-darkest-text-secondary);
    }
  }

  &__logo {
    display: block;
    height: 76px;
    width: 266px;

    @media (min-width: $bkp-desktop) {
      width: 240px;
      height: 111px;
      margin-top: 50px;
    }

    img {
      display: block;
      height: 100%;
      object-fit: contain;
      width: 100%;
    }

    &-wrapper {
      justify-content: center;
      display: flex;
      margin-bottom: 45px;

      @media (min-width: $bkp-desktop) {
        order: 3;
      }
    }
  }

  &__link {
    font-size: 12px;

    @media (min-width: $bkp-desktop) {
      font-size: 16px;
    }
  }

  &__links {
    @media (min-width: $bkp-phablet) {
      display: flex;
      gap: 30px;
    }

    @media (min-width: $bkp-desktop) {
      gap: 70px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: 0;
      padding: 0;

      @media (min-width: $bkp-desktop) {
        gap: 10px;
      }

      &--page {
        gap: 12px;

        @media (min-width: $bkp-desktop) {
          gap: 20px;
        }
      }
    }

    &-title {
      font-size: 16px;
      margin-bottom: 10px;

      @media (min-width: $bkp-desktop) {
        font-size: 20px;
        margin-bottom: 25px;
      }
    }

    &-wrapper {
      display: flex;
      gap: 20px;
      justify-content: space-between;

      @media (min-width: $bkp-desktop) {
        flex-grow: 1;
        max-width: 60%;
      }
    }
  }

  &__top {
    border-bottom: solid 1px var(--bc-color-border-dark);
    padding: 60px 0;

    @media (min-width: $bkp-tablet) {
      padding: 80px 0;
    }
  }
}
