@use '../_variables' as *;

.c-menu {
  border-top: solid 2px var(--bc-color-brand);

  @media (min-width: $bkp-tablet) {
    border-top: none;
  }

  &__list {
    display: none;
  }

  @media (min-width: $bkp-tablet) {
    background-color: var(--bc-color-brand);
    color: var(--bc-color-brand-text);

    &__list {
      margin: 0;
      list-style: none;
      display: flex;
      padding: 0;
      gap: 30px;
    }

    &__item a {
      display: flex;
      height: 38px;
      align-items: center;
      font-size: 13px;
      font-weight: var(--bc-font-weight-bold);
    }
  }
}
