.pagination_bc {
  display: inline-block;
}

.pagination_bc a {
  color: #E24314;
  float: left;
  margin-left:10px;
  padding: 6px 46px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #E24314;
  border-radius:10px;
}

.numbers_bc a {
  padding: 6px 16px;
}

.pagination_bc a.active {
  background-color: #E24314;;
  color: white;
  border: 1px solid #E24314;;
}

.pagination_bc a:hover:not(.active) {
	background-color: #E24314;
	color:white;
}


.no_pagination_bc {
  color: #E24314;
  float: left;
  margin-left:10px;
  padding: 6px 46px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #E24314;
  border-radius:10px;
}