@import url("https://fonts.googleapis.com/css?family=Inter:900,600,500,400,700|Rubik:500");
body {
    margin: 0;
    font-family: Inter;
    font-style: normal;
}
body *{
    font-family: Inter;
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
    font-weight: normal;
}
img{ max-width: 100%;}
a{
    text-decoration: none;
    color: #371e56;
}
b, .bold-me{
    font-weight: 700;
}
h1{
    margin: 0;
    color: #371E56;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px; /* 131.25% */
    letter-spacing: -0.32px;
}
h2{
    margin: 10px 0;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 42px; /* 105% */
    letter-spacing: -0.32px;   
}
h3{
    margin: 20px 0;
    color: #371E56;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 131.25% */
    letter-spacing: -0.32px;  
}
h4{
    margin: 0;
    color: #371E56;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 262.5% */
    letter-spacing: -0.32px;    
}
/*CORES*/
.roxo{ background-color: #463758  !important;;}
.grey{background-color: #F9F9F9  !important;;}
.verde{ background-color: #2BC4C3  !important;;}
.ciano{ background-color: #a1dfdf  !important;;}
.text-branco {color: #ffffff !important;}
.text-verde{ color: #2BC4C3;}
.text-roxo { color: #371E56 !important;}
.text-dourado { color: #FFECBF !important;}
/*HELPER*/
.no-gap{ gap: 0 !important;}
.no-margin{ margin: 0 !important;}
.no-padding{ padding: 0 !important;}
.padding-h-20{ padding: 0 20px !important;}
.no-wrap{ flex-wrap: nowrap !important; }
.justify-end{  justify-content: flex-end  !important;}
.align-items-center{ align-items: center !important;}
.text-right { text-align: right; }
.small{ 
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px; /* 118.75% */
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}
*[class*="d-col-"] { box-sizing: border-box; flex-shrink: 0; }
.d-col-1 						{width: 8.33%;}
.d-col-2 						{width: 16.66%;}
.d-col-3, 
.d-col-thirds 					{width: 25%;}
.d-col-35 						{width: 29.16%;}
.d-col-4, 
.d-col-quarters 				{width: 33.33%;}
.d-col-5 						{width: 41.66%;}
.d-col-55 						{width: 45.83%;}
.d-col-6, 
.d-col-halfs					{width: 50%;}
.d-col-7 						{width: 58.33%;}
.d-col-8 						{width: 66.66%;}
.d-col-9 						{width: 75%;}
.d-col-10 						{width: 83.33%;}
.d-col-11 						{width: 91.66%;}
.d-col-12, 
.d-col-full 					{width: 100%;}

@media only screen and (min-width: 979px) {	
    .d-offset-1                     {margin-left: 8.33%;}
    .d-hide                         {display: none !important;}
}
@media only screen and (min-width: 661px) and (max-width: 979px) {	
    .t-col-4 		{width: 33.33% !important;	}
    .t-col-6 		{width: 50% !important;}
    .t-col-12 		{width: 100% !important;}
    .t-hide         {display: none;}
}
@media only screen and (min-width: 0px) and (max-width: 660px) {
    .container { width: 95%;  }
    .m-col-1 		{width: 8.33% !important;}
    .m-col-2 		{width: 16.66% !important;}
    .m-col-3 		{width: 25% !important;}
    .m-col-4 		{width: 33.33% !important;}
    .m-col-5 		{width: 41.66% !important;}
    .m-col-6 		{width: 50% !important;}
    .m-col-8 		{width: 66.66%;}
    .m-col-9 		{width: 75%;}
    .m-col-10 		{width: 83.33%;}
    .m-col-12 		{width: 100% !important;}
    .m-hide         {display: none !important;}
}
section.padrao{
    padding: 50px 0px;
}

.btn {
    display: inline-block;
    padding: 13px;
    background-color: #371e56;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
}
.item-select a{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 17px 0px;
    flex: 0 0 auto;
    text-decoration: none;
}

.item-select a::after{
    content: '';
    background-image: url('../img/seta-seletor.svg');
    background-repeat: no-repeat;
    width: 10px;
    height: 6px;
}
.item-select a.row-right::after{
    background-image: url('../img/seta-right.svg');
    width: 5px;
    height: 10px;
}
.item-icon {
    display: inline-flex;
    gap: 8px;
    flex: 0 0 auto;
    align-items: center;
    color: #371E56;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
}
.item-icon.icon-user::before{
    content: '';
    background-image: url('../img/icon-login.svg');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
